:root {
  --couleur-boutton: #B85F49;

  --couleur-fond-principal: #222222;
  --couleur-texte-principal: #F0F0E0;
  --couleur-blanc: #FFFFFF;
  --couleur-noir: #000000;

  --border-radius: 0.7em;
  --maw-width-container: 83vw;
}

body {
    background-color: var(--couleur-fond-principal);
}

.photo_acc {
    position: relative;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("/site_web/img/accueil/grande_photo_accueil.jpeg") center/cover no-repeat;
    color: var(--couleur-texte-principal);
    box-shadow: 0px 0px 30px 2px black;
}

.photo_acc .overlay {
    position: absolute;
    inset: 0;
    z-index: 1;
    background: rgba(0, 0, 0, 0.72);
}

.photo_acc article {
    text-align: center;
}

.photo_acc h1 {
    position: relative;
    z-index: 2;
    font-size: 9.5em;
    font-weight: bold;
    font-family: 'Anton', sans-serif;
}

.photo_acc a {
    position: relative;
    z-index: 2;
    text-decoration: none;
    font-size: 3em;
    font-family: 'Antonio', sans-serif;
    color: var(--couleur-texte-principal);
}

.photo_acc article div {
    display: inline-block;
    width: auto;
    padding: 0.1em 2em 0.3em 2em;
    margin-top: 0.5em;
    border-radius: var(--border-radius);
    border: 0.04em solid var(--couleur-noir);
    background-color: var(--couleur-boutton);
    box-shadow: 5px 5px 20px 2px var(--couleur-noir);
    transition: 0.3s;
}

.photo_acc article div:hover {
    transform: scale(1.05);
}

.parent {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    background-color: var(--couleur-fond-principal);
}

.container {
    max-width: var(--maw-width-container);
    box-sizing: border-box;
    background-color: #222222;
    background-color: var(--couleur-fond-principal);
}



























.explos_recentes {
    margin-bottom: 4em;
}

.explos_recentes h1 {
    text-align: center;
    padding-top: 1.5em;
}

.explos_recentes_photos {
    display: flex;
    flex-wrap: wrap;
    margin-top: 4em;
}

.explos_recentes_photos>article {
    flex-basis: 25%;
    flex-grow: 1;
    margin: 2.7em;
    padding: 1em;
    position: relative;
    overflow: hidden;
}

.explos_recentes_photos article h2 {
    margin: 0 0.8em 0 0.8em;
}

.explos_recentes_photos>article>img {
    width: 100%;
    height: auto;
    display: block;
}

.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    margin-top: 1.7em;
}

.trait-blanc {
    flex-grow: 1;
    height: 2px;
}

.explos_recentes_photos>article article {
    width: 28em;
    padding-top: 2em;
}

.explos_recentes_photos>article article div {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-top: 2.2em;
}

.explos_recentes_photos>article article img {
    width: 2.4em;
    height: auto;
    margin-left: 0.2em;
}

.explos_recentes_photos>article article div p{
    margin-right: 0.4em;
}

.explos_recentes_photos>article a {
    display: inline-block;
    margin: 0 auto;
}

.explos_recentes_photos>article a div {
    padding: 0.2em 1em 0.4em 1em;
    margin-top: 1em;
}

/*style*/



.explos_recentes h1 {
    color: white;
    font-size: 4em;
    font-family: 'Anton', sans-serif;
}

.explos_recentes_photos>article {
    background-color: white;
}

.content {
    color: white;
}

.trait-blanc {
    border: none;
    background-color: white;
}

.explos_recentes_photos article article {
    background: rgba(0, 0, 0, 0.4);
}

.explos_recentes_photos article h2 {
    font-family: 'Antonio', sans-serif;
    font-size: 1.7em;
}

.explos_recentes_photos article article p {
    color: white;
    font-family: 'Antonio', sans-serif;
    font-size: 1.2em;
}

.explos_recentes_photos article a {
    text-decoration: none;
    color: white;
    font-size: 1.4em;
    font-family: 'Antonio', sans-serif;
}

.explos_recentes_photos article a div {
    border-radius: 2em;
    border: 0.09em solid white;
    transition: 0.3s;
    background: rgba(0, 0, 0, 0.07);
}

.explos_recentes_photos article a div:hover {
    background: rgba(0, 0, 0, 0.4);
    transform: scale(1.05);
}