:root {
  --couleur-boutton: #B85F49;
  --couleur-fond-principal: #222222;
  --couleur-texte-principal: #F0F0E0;
  --couleur-blanc: #FFFFFF;
  --couleur-noir: #000000;

  --border-radius-bouton: 0.7em;
  --maw-width-container: 134em;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--couleur-fond-principal);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    flex: 1;
    background-color: var(--couleur-fond-principal);
}

.container {
    max-width: var(--maw-width-container);
    width: 100%;
    background-color: var(--couleur-fond-principal);
    box-sizing: border-box;
    text-align: center;
    padding: 0 5em;
}

.block {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    margin-top: 15em;
    text-align: left;
}

.anim_section {
  opacity: 0;
  transform: translateY(30px);
  transition: opacity 0.8s ease, transform 0.8s ease;
}

.anim_section.visible {
  opacity: 1;
  transform: translateY(0);
}

.filtre {
    justify-content: flex-start;
    display: flex;
    flex-direction: column;
    flex-basis: 15%;
    background-color: black;
    padding: 1.2em;
    box-shadow: 0px 0px 15px 15px black;
    margin-top: 1em;
}

.filtre .haut {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.filtre p {
    color: var(--couleur-texte-principal);
    font-family: 'Anton', sans-serif;
    font-size: 1.2em;
    display: inline-block;
}

.filtre .btn_croix {
    border-radius: 10px;
    width: 2.3em;
    height: 2.3em;
    background-color: var(--couleur-boutton);
    background-image: url('/img/accueil/annuler.png');
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    cursor: pointer;
    margin-left: auto;
}

.filtre .recherche {
    display: flex;
    align-items: center;
    margin: 2em 0;
    border-bottom: 0.15em solid var(--couleur-boutton);
}

.filtre .btn_recherche {
    width: 2.3em;
    height: 2.3em;
    background-image: url('/img/accueil/loupe.png');
    background-size: 60%;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    cursor: pointer;
}

.filtre .recherche_case {
    margin-left: 1em;
    width: 100%;
    background-color: transparent;
    font-family: 'Antonio', sans-serif;
    border: none;
    color: var(--couleur-texte-principal);
}

.filtre article{
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
}

.filtre article p {
    margin-bottom: 0.7em;
}

.filtre li {
    list-style-type: none;
}

.filtre article a {
    display: inline-block;
    color: var(--couleur-texte-principal);
    text-decoration: none;
    margin: 0.2em 2em;
    background: none;
    border: none; 
    padding: 0.5em 5em 0.5em 1em;
    cursor: pointer;
    width: 10em;
    border-radius: 10px;
    transition: 0.3s;
    text-align: left;
    transition: background-color 0.3s ease, color 0.3s ease, 0.3;
    font-family: 'Antonio', sans-serif;
    will-change: transform;
}

.filtre article a:hover {
    transform: scale(1.07);
}

.filtre article a.active {
    background-color: var(--couleur-boutton);
}

.explos_photos {
    padding-top: 0;
    display: flex;
    flex-wrap: wrap;
    flex-basis: 70%;
    flex-grow: 1;
    margin-left: 5em;
    gap: 5em;
    margin-bottom: 1em;
}

.explos_photos>article {
    flex-basis: 25%;
    flex-grow: 1;
    padding: 1em;
    position: relative;
    overflow: hidden;
    background-color: var(--couleur-blanc);
}

.explos_photos>article>img {
    width: 100%;
    height: auto;
    display: block;
}

.content {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 80%;
    color: var(--couleur-texte-principal);
}

.trait-blanc {
    border: none;
    height: 0.13em;
    background-color: var(--couleur-texte-principal);
    width: 100%;
}

.explos_photos>article article {
    background: rgba(0, 0, 0, 0.4);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 70%;
    height: 50%;
    padding-top: 10%;
}

.explos_photos>article article h2 {
    font-family: 'Antonio', sans-serif;
    font-size: 1.7em;
    width: 100%;
    white-space: nowrap;
    padding: 0 0.7em;
}

.explos_photos>article article div {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.explos_photos>article article img {
    width: 2.4em;
    height: auto;
    margin-left: 0.2em;
}

.explos_photos>article article div p{
    margin-right: 0.4em;
    color: var(--couleur-texte-principal);
    font-family: 'Antonio', sans-serif;
    font-size: 1.2em;
}

.explos_photos>article a {
    display: inline-block;
    margin: 0 auto;
    text-decoration: none;
    color: var(--couleur-texte-principal);
    font-size: 1.4em;
    font-family: 'Antonio', sans-serif;
}

.explos_photos>article a div {
    padding: 0.2em 1em 0.4em 1em;
    margin-top: 1em;
    transition: 0.3s;
    border-radius: var(--border-radius-bouton);
    border: 0.04em solid var(--couleur-noir);
    background-color: var(--couleur-boutton);
    box-shadow: 5px 5px 20px 2px var(--couleur-noir);
    will-change: transform;
}

.explos_photos>article a div:hover {
    transform: scale(1.05);
}

.fadeout {
    animation: fadeout 0.3s forwards;
}

@keyframes fadeout {
    from {
        opacity: 1;
        transform: translateY(0px);
    }
    to {
        opacity: 0;
        transform: translateY(-50px);
    }
}

.article_vide {
    background-color: var(--couleur-fond-principal) !important;
}

.pagination {
    display: inline-flex;
    background-color: #000000;
    padding: 1em 1.6em 1.4em 1.6em;
    margin: 5em 0;
    box-shadow: 0px 0px 15px 15px black;
    justify-content: center;
    align-items: center;
}

.pagination .navPage {
    display: inline-block;
    text-decoration: none;  
    font-size: 2em;
    font-family: 'Antonio', sans-serif;
    transition: 0.3s;
    will-change: transform;
    color: var(--couleur-boutton);
    font-weight: bold;
}


.pagination .navPage:hover {
    transform: scale(1.2);
}

.pagination .info_page {
    color: var(--couleur-texte-principal);
    text-decoration: none;
    font-size: 1.5em;
    font-family: 'Antonio', sans-serif;
    margin: 0 1em;
}

.orange {
    color: var(--couleur-boutton);
}

.telephone,
.remplissage {
    display: none;
}

.resultat {
    flex-basis: 100%;
}

.resultat h1 {
    font-family: 'Antonio', sans-serif;
    font-size: 2.5em;
    margin: 0;
    color: var(--couleur-texte-principal);
}

.nbLieuxOrdi {
    margin-bottom: 1em;
}

@media screen and (max-width: 2000px) {

    .explos_photos>article article h2{
        font-size: 1.6em;
        padding: 0 0.4em;
    }

    .explos_photos {
        gap: 3em;
    }
}

@media screen and (max-width: 1750px) {

    .explos_photos>article article h2{
        font-size: 1.5em;
    }

    .explos_photos {
        gap: 2.7em;
    }

    .explos_photos>article {
        padding: 0.9em;
    }

    .explos_photos>article a {
        font-size: 1.2em;
    }
}

@media screen and (max-width: 1600px) {

    .explos_photos>article article h2{
        font-size: 1.3em;
    }

    .explos_photos {
        gap: 2.7em;
    }

    .explos_photos>article {
        padding: 0.8em;
    }

    .explos_photos>article a {
        font-size: 1.1em;
    }
}

@media screen and (max-width: 1450px) {

    .explos_photos>article article h2{
        font-size: 1.5em;
    }

    .explos_photos {
        gap: 3em;
    }

    .explos_photos>article {
        flex-basis: 40%;
        padding: 0.9em;
    }

    .explos_photos>article a {
        font-size: 1.2em;
    }
}

@media screen and (max-width: 1350px) {

    .explos_photos {
        margin-left: 3em;
    }

    .explos_photos>article article h2{
        font-size: 1.3em;
    }

    .explos_photos>article {
        padding: 0.8em;
    }
}

@media screen and (max-width: 1250px) {
       
    .filtre p {
        font-size: 1em;
    }
}

@media screen and (max-width: 1200px) {
    
    .block {
        flex-direction: column;
        margin-top: 12em;
        position: relative;
    }

    .remplissage {
        display: block;
        width: 100%;
    }

    .filtre {
        position: absolute;
        z-index: 2;
        width: 100%;
        top: 0%;
        margin-top: 0;
    }

    .nbLieuxOrdi {
        display: none !important;
    }

    .navFiltre {
        overflow: hidden;
        height: 0;
        opacity: 0;
        transition: height 0.5s ease, opacity 0.5s ease;
        display: flex;
        flex-direction: column;
        padding: 0 1.5em;
    }

    .navFiltre.active {
        opacity: 1;
    }

    .telephone {
        display: flex;
        width: 100%;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 1em 1.5em;
        background-color: var(--couleur-noir);
        box-shadow: 0px 0px 15px 15px black;
    }

    .telephone p {
        font-size: 1em;
        color: var(--couleur-texte-principal);
    }

    .resultat {
        text-align: center;
    }

    .resultat h1 {
        font-size: 1.5em;
        margin-bottom: 1.5em;
    }

    .btn-filtre {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 0.2em;
        font-size: 1em;
        color: var(--couleur-texte-principal);
        padding: 0 1em;
        border-radius: var(--border-radius-bouton);
        border: 0.04em solid var(--couleur-noir);
        background-color: var(--couleur-boutton);
        box-shadow: 5px 5px 20px 2px var(--couleur-noir);
    }

    .btn-filtre img {
        width: 2em;
        height: auto;
    }

    .explos_photos {
        gap: 2.5em;
        margin-left: 0;
        margin-top: 2em;
    }

    .explos_photos>article {
        padding: 0.8em;
        flex-basis: 27%;
    }

    .explos_photos>article article img {
        width: 1.7em;
        height: auto;
    }

    .explos_photos>article a {
        font-size: 1em;
    }

    .trait-blanc {
        height: 0.12em;
    }

    .pagination {
        padding: 0.5em 1.1em 0.9em 1.1em;
    }

}

@media screen and (max-width: 1100px) {

    .explos_photos>article {
        padding: 0.7em;
    }

    .explos_photos>article article div p{
        font-size: 1em;
    }

    .explos_photos>article article h2{
        font-size: 1.2em;
    }
}

@media screen and (max-width: 1050px) {

    .explos_photos>article a {
        font-size: 0.9em;
    }
}

@media screen and (max-width: 1000px) {

    .block {
        margin-top: 14em;
    }
    .explos_photos>article {
        flex-basis: 40%;
    }

    .explos_photos>article div h2 {
        font-size: 1.4em;
    }

    .explos_photos>article a {
        font-size: 1.1em;
    }

    .trait-blanc {
        height: 0.11em;
    }
}

@media screen and (max-width: 850px) {

    .explos_photos>article div h2 {
        font-size: 1.2em;
    }

    .trait-blanc {
        height: 0.105em;
    }
}

@media screen and (max-width: 800px) {

    .container {
        padding: 0 4em;
    }
}

@media screen and (max-width: 750px) {

    .container {
        padding: 0 3em;
    }

    .explos_photos>article div h2 {
        font-size: 1.15em;
    }

    .explos_photos>article a {
        font-size: 0.95em;
    }
}

@media screen and (max-width: 700px) {

    .container {
        padding: 0 2em;
    }
}

@media screen and (max-width: 650px) {

    .container {
        padding: 0 1em;
    }
}

@media screen and (max-width: 600px) {

    .container {
        padding: 0;
    }

    .block {
        margin-top: 10.5em;
    }

    .explos_photos>article div h2 {
        font-size: 1.15em;
    }

    .explos_photos>article a {
        font-size: 0.9em;
    }

    .explos_photos>article article div p{
        font-size: 0.9em;
    }
}

@media screen and (max-width: 550px) {

    .explos_photos>article div h2 {
        font-size: 1em;
    }

    .explos_photos>article article div p{
        font-size: 0.9em;
    }

    .explos_photos>article {
        padding: 0.65em;
    }
}

@media screen and (max-width: 500px) {

    .explos_photos>article div h2 {
        font-size: 0.8em;
    }

    .explos_photos {
        gap: 1.5em;
    }

    .explos_photos>article a {
        font-size: 0.8em;
    }

    .explos_photos>article article div p{
        font-size: 0.75em;
    }

    .explos_photos>article {
        padding: 0.6em;
    }
}

@media screen and (max-width: 450px) {

    .explos_photos>article article div p{
        font-size: 0.7em;
    }
}

@media screen and (max-width: 400px) {

    .explos_photos>article {
        padding: 0.5em;
    }

    .explos_photos article article {
        padding-top: 0.5em;
    }

    .trait-blanc {
        height: 0.085em;
    }
}

@media screen and (max-width: 350px) {

    .explos_photos {
        gap: 1em;
    }

    .explos_photos>article {
        padding: 0.4em;
    }

    .explos_photos>article div h2 {
        font-size: 0.7em;
    }

    .explos_photos>article article div p{
        font-size: 0.65em;
    }

    .explos_photos>article a {
        font-size: 0.7em;
    }

    .trait-blanc {
        height: 0.08em;
    }
}

@media screen and (max-width: 300px) {

    .explos_photos>article div h2 {
        font-size: 0.6em;
    }

    .explos_photos>article article div p{
        font-size: 0.6em;
    }

    .explos_photos>article a {
        font-size: 0.55em;
    }
} 