:root {
  --couleur-boutton: #B85F49;
  --couleur-fond-principal: #222222;
  --couleur-texte-principal: #F0F0E0;
  --couleur-blanc: #FFFFFF;
  --couleur-noir: #000000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    position: fixed;
    padding-top: 1em;
    width: 100%;
    z-index: 10;
    background-color: var(--couleur-noir);
    box-shadow: 0 25px 60px 60px var(--couleur-noir);
    opacity: 0;
    transform: translateY(-50px);
    transition: opacity 1.5s ease, transform 1.5s ease;
    padding: 0 10%;
}


header > img {
    width: 5em;
    height: auto;
}

header h1 {
    flex-basis: 30%;
    text-align: left;
    flex-grow: 1;
    margin-left: 1em;
    color: var(--couleur-texte-principal);
    font-weight: bold;
    font-size: 50px;
    font-family: 'Anton', sans-serif;
}

header nav {
    flex-basis: 40%;
}

header .menu {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-end;
    padding-right: 2em;
    gap: 40%;
    list-style-type: none;
}

header .menu ul {
    list-style: none;
}

header .menu li {
    text-align: right;
    position: relative;
    cursor: pointer;
}

header li a {
    text-decoration: none;
    color: #aaaaa2;
    font-size: 23px;
    font-family: 'Antonio', sans-serif;
    transition: 0.3s;
}

header li a:hover {
    color: var(--couleur-boutton);
}

header li a.active {
    border-bottom: 0.125em solid var(--couleur-boutton);
    color: var(--couleur-texte-principal);
}

header button {
    display: none;
}

footer {
    background: var(--couleur-noir);
    box-shadow: 0 -10px 30px -5px var(--couleur-noir);
    position: relative;
    z-index: 5;
    color: var(--couleur-texte-principal);
    padding-top: 2em;
}

footer>section,
footer article article {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

footer>section>article {
    flex-basis: 30%;
    flex-grow: 1;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

footer h3 {
    font-size: 1.7em;
    margin-bottom: 0.3em;
    color: var(--couleur-boutton);
}

footer ul {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    list-style-type: none;
    color: var(--couleur-texte-principal);
}

footer p,
footer li {
    font-size: 1.1em;
}

footer img {
    width: 2.2em;
    height: auto;
}

footer .copyright {
    padding: 2em 0 1em 0;
    text-align: center;
}

footer a {
    transition: 0.3s;
    text-decoration: none;
    color: var(--couleur-texte-principal);
}

footer a:hover {
    color: var(--couleur-boutton);
}

footer a.active {
    border-bottom: 0.125em solid var(--couleur-boutton);
}

@media screen and (min-width: 1440px) and (max-width: 1800px) {

    header {
        padding-top: 1em;
    }

    header > img {
        width: 4em;
    }

    header h1 {
        font-size: 30px;
    }

    header li a {
        font-size: 22px;
    }

    footer h3 {
        font-size: 1.4em;
    }
}

@media screen and (min-width: 900px) and (max-width: 1440px) {

    header {
        padding-top: 0.8em;
        box-shadow: 0 15px 50px 50px var(--couleur-noir);
    }

    header > img {
        width: 3em;
    }

    header h1 {
        font-size: 25px;
    }

    header li a {
        font-size: 17px;
    }

    footer h3 {
        font-size: 1.4em;
    }

    footer p,
    footer li {
        font-size: 0.8em;
    }

    footer img {
        width: 1.8em;
    }
}

@media screen and (min-width: 640) and (max-width: 900px) {

    header {
        padding-top: 0.8em;
        box-shadow: 0 15px 50px 50px var(--couleur-noir);
    }

    header > img {
        width: 3em;
    }

    header h1 {
        font-size: 25px;
    }

    header li a {
        font-size: 17px;
    }

    footer h3 {
        font-size: 1.4em;
    }

    footer p,
    footer li {
        font-size: 0.8em;
    }

    footer img {
        width: 1.8em;
    }
}

@media screen and (max-width: 640px) {
    
    .photo_acc h1 {
        font-size: 3.7em;
    }

    .photo_acc a {
        font-size: 1.6em;
    }

    .def_urbex,
    .def_site,
    .explos_recentes,
    .reseaux {
        padding: 3em 2em;
    }

    .def_urbex h1,
    .def_site h1,
    .explos_recentes h1,
    .reseaux h1 {
        font-size: 1.4em;
        font-family: 'Anton', sans-serif;
        color: var(--couleur-texte-principal);
        margin-bottom: 1.7em;
    }

    .def_urbex p,
    .def_site p {
        font-size: 1em;
        color: var(--couleur-texte-principal);
        font-weight: 100;
        margin-top: 0.6em;
    }

    .voir_plus a {
        display: none;
    }

    .explos_recentes_photos {
        flex-direction: column;
        gap: 3em;
    }

    .explos_recentes_photos>article {
        padding: 0.7em;
    }

    .content {
        align-items: center;
        width: 100%;
        margin-top: 0;
    }

    .explos_recentes_photos>article article {
        width: 70%;
        padding-top: 0;
    }

    .explos_recentes_photos>article article h2{
        font-size: 1.2em;
        margin-top: 10%;
        margin-bottom: 5%;
    }

    .explos_recentes_photos>article article div {
        margin-top: 1em;
    }

    .explos_recentes_photos>article article img {
        width: 1.7em;
        height: auto;
    }

    .explos_recentes_photos>article article div p{
        font-size: 0.8em;
    }

    .explos_recentes_photos>article a {
        font-size: 1em;
        margin-top: 1em;
    }

    .insta {
        flex-wrap: wrap;
        gap: 3em;
    }

    .un_insta {
        gap: 0.6em;
        box-shadow: 0px 0px 10px 10px black;
        padding: 1em 0;
        flex-basis: 40%;
    }

    .un_insta img {
        width: 5em;
        height: auto;
        gap: 0;
    }

    .un_insta div {
        flex-direction: column;
        gap: 0.4em;
    }

    .un_insta div img {
        width: 1em;
        height: auto;
    }

    .insta a {
        font-size: 0.7em;
    }
}