:root {
  --couleur-boutton: #B85F49;
  --couleur-fond-principal: #222222;
  --couleur-texte-principal: #F0F0E0;
  --couleur-blanc: #FFFFFF;
  --couleur-noir: #000000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    position: fixed;
    padding-top: 1em;
    width: 100%;
    z-index: 10;
    background-color: var(--couleur-noir);
    box-shadow: 0 25px 60px 60px var(--couleur-noir);
    opacity: 0;
    transform: translateY(-50px);
    transition: opacity 1.5s ease, transform 1.5s ease;
    padding: 0 10%;
}


header > img {
    width: 5em;
    height: auto;
}

header h1 {
    flex-basis: 30%;
    text-align: left;
    flex-grow: 1;
    margin-left: 1em;
    color: var(--couleur-texte-principal);
    font-weight: bold;
    font-size: 50px;
    font-family: 'Anton', sans-serif;
}

header nav {
    flex-basis: 40%;
}

header .menu {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-end;
    padding-right: 2em;
    gap: 40%;
    list-style-type: none;
}

header .menu ul {
    list-style: none;
}

header .menu li {
    text-align: right;
    position: relative;
    cursor: pointer;
}

header li a {
    text-decoration: none;
    color: #aaaaa2;
    font-size: 23px;
    font-family: 'Antonio', sans-serif;
    transition: 0.3s;
}

header li a:hover {
    color: var(--couleur-boutton);
}

header li a.active {
    border-bottom: 0.125em solid var(--couleur-boutton);
    color: var(--couleur-texte-principal);
}

header button {
    display: none;
}

footer {
    background: var(--couleur-noir);
    box-shadow: 0 -10px 30px -5px var(--couleur-noir);
    position: relative;
    z-index: 5;
    color: var(--couleur-texte-principal);
    padding-top: 2em;
}

footer>section,
footer article article {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

footer>section>article {
    flex-basis: 30%;
    flex-grow: 1;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

footer h3 {
    font-size: 1.7em;
    margin-bottom: 0.3em;
    color: var(--couleur-boutton);
}

footer ul {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    list-style-type: none;
    color: var(--couleur-texte-principal);
}

footer p,
footer li {
    font-size: 1.1em;
}

footer img {
    width: 2.2em;
    height: auto;
}

footer .copyright {
    padding: 2em 0 1em 0;
    text-align: center;
}

footer a {
    transition: 0.3s;
    text-decoration: none;
    color: var(--couleur-texte-principal);
}

footer a:hover {
    color: var(--couleur-boutton);
}

footer a.active {
    border-bottom: 0.125em solid var(--couleur-boutton);
}

@media screen and (max-width: 1800px) {

    header {
        padding-top: 1em;
    }

    header > img {
        width: 4em;
    }

    header h1 {
        font-size: 30px;
    }

    header li a {
        font-size: 22px;
    }

    footer h3 {
        font-size: 1.4em;
    }
}

@media screen and (max-width: 1440px) {

    header {
        padding-top: 0.8em;
        box-shadow: 0 15px 50px 50px var(--couleur-noir);
    }

    header > img {
        width: 3em;
    }

    header h1 {
        font-size: 25px;
    }

    header li a {
        font-size: 17px;
    }

    footer h3 {
        font-size: 1.4em;
    }

    footer p,
    footer li {
        font-size: 0.8em;
    }

    footer img {
        width: 1.8em;
    }
}

@media screen and (max-width: 800px) {

    header {
        padding: 0 5%;
        padding-top: 0.6em;
    }

    header .menu {
        padding-right: 0;
        gap: 20%;
    }
}

@media screen and (max-width: 650px) {

    html, body {
        background-color: var(--couleur-noir);
        overflow-x: hidden;
        max-width: 100vw;
    }

    header {
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 0.5em 0;
        box-shadow: 0 5px 30px 30px var(--couleur-noir);
        flex-wrap: wrap;
    }

    header > img {
        margin: 0;
        width: 4em;
        padding-left: 1em;
    }

    header h1 {
        flex-basis: auto;
        flex-grow: 0;
        font-size: 1.5em;
        padding: 0.5em 0;
        margin-left: 0;
    }

    header nav {
        overflow: hidden;
        height: 0;
        opacity: 0;
        transition: height 0.4s ease, opacity 0.4s ease;
        margin: 0;
        flex-basis: 100%;
    }

    header nav.active {
        opacity: 1;
    }

    header .menu {
        flex-direction: column;
        justify-content: center;
        gap: 1em;
        padding: 0;
        margin-top: 1em;
    }

    header button {
        display: block;
        background: transparent;
        border: none;
    }

    header button img {
        width: 3.4em;
        height: auto;
        margin-right: 1.5em;
    }

    footer>section {
        flex-direction: column;
        gap: 2em;
    }

    .copyright p {
        padding: 0 1.3em 0.5em 1.3em;
    }
}