:root {
  --couleur-boutton: #B85F49;
  --couleur-fond-principal: #222222;
  --couleur-texte-principal: #F0F0E0;
  --couleur-blanc: #FFFFFF;
  --couleur-noir: #000000;
}

.container {
    max-width: 123em;
    width: 100%;
    min-height: 100vh;
    box-sizing: border-box;
    background-color: var(--couleur-fond-principal);
    padding: 0 5em;
}

main {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    background-color: var(--couleur-fond-principal);
}

.retour {
    font-size: 1.5em;
    margin: 0;
    padding-top: 10.5em;
    padding-bottom: 2em;
    margin-left: 2em;
}

.orange {
    color: var(--couleur-boutton);
}

.histoire .titre {
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-start;
    position: relative;
}

.histoire h1 {
    margin-left: 1em;
    color: var(--couleur-texte-principal);
    font-size: 2.8em;
    font-family: 'Anton', sans-serif;
}

.histoire img {
    width: 4.5em;
    margin-left: 1em;
    height: auto;
}

.histoire .titre p {
    position: absolute;
    right: 0;
    bottom: 0;
    margin: auto 1.73em 0.5em;
    color: var(--couleur-texte-principal);
    font-size: 1.7em;
    font-family: 'Antonio', sans-serif;
}

.histoire>p {
    margin: 2.2em 1.9em 0.5em 1.9em;
    line-height: 1.6;
    padding: 0 0.5em;
    color: var(--couleur-texte-principal);
    font-size: 1.5em;
    border-left: 0.2em solid var(--couleur-boutton);
}

.exploration {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.exploration p {
    flex-basis: 100%;
    margin: 1.5em 1.9em 1.5em 1.9em;
    line-height: 1.6;
    padding: 0 0.5em;
    color: var(--couleur-texte-principal);
    font-size: 1.5em;
    border-left: 0.2em solid var(--couleur-boutton);
}

.exploration article {
    display: flex;
    margin: 1.5em 3em 1.5em 2.6em;
    padding: 0.9em;
    flex-grow: 1;
    background-color: var(--couleur-blanc)
}

.exploration .horizontal {
    flex-basis: 27%;
    max-width: 36em;
}

.exploration .vertical {
    flex-basis: 20.25%;
}

.exploration article>img {
    width: 100%;
    height: auto;
    display: block;
}

main a {
    color: var(--couleur-texte-principal);
    font-style: italic;
    text-decoration: none;
    transition: 0.3s;
}

main a:hover {
    color: var(--couleur-boutton);
}

.text-block {
    background: rgba(0, 0, 0, 0.7);
    padding: 15px 20px;
    border-radius: 8px;
    margin: 20px 0;
}

.titre div {
    display: flex;
    flex-direction: row;
    align-items: center;
}

@media screen and (max-width: 1600px) {
    
    .container {
        padding: 0 4em;
    }

    .exploration p {
        font-size: 1.2em;
    }

    .histoire h1 {
        font-size: 2.2em;
    }

    .histoire img {
        width: 4em;
    }

    .histoire .titre p {
        font-size: 1.4em;
    }

    .histoire>p {
        font-size: 1.2em;
    }

    .exploration article {
        margin: 1em 2.5em 1em 2.1em;
    }
}

@media screen and (max-width: 1450px) {

    .retour {
        font-size: 1.5em;
        padding-top: 7em;
    }

    .exploration article {
        margin: 1em 2em 1em 1.6em;
        padding: 0.8em;
    }
}

@media screen and (max-width: 1200px) {

    .exploration article {
        margin: 1em 1em 1em 0.6em;
        padding: 0.7em;
    }
}

@media screen and (max-width: 950px) {

    .container {
        padding: 0 2em;
    }

    .exploration p {
        font-size: 1em;
    }

    .histoire h1 {
        font-size: 2em;
    }

    .histoire img {
        width: 3.5em;
    }

    .histoire .titre p {
        font-size: 1.2em;
    }

    .histoire>p {
        font-size: 1em;
    }
}

@media screen and (max-width: 800px) {

    .container {
        padding: 0 2em;
    }

    .exploration p {
        font-size: 0.9em;
    }

    .histoire h1 {
        font-size: 1.9em;
    }

    .histoire img {
        width: 3.5em;
    }

    .histoire .titre p {
        font-size: 1.1em;
    }

    .histoire>p {
        font-size: 0.9em;
    }

    .exploration article {
        padding: 0.55em;
    }
}

@media screen and (max-width: 750px) {

    .titre {
        flex-wrap: wrap;
        padding: 0 0.5em;
    }

    .histoire .titre {
        flex-wrap: wrap;
        flex-direction: column;
    }

    .histoire h1 {
        font-size: 2em;
    }

    .histoire img {
        width: 3em;
        margin-left: 0.5em;
    }

    .histoire .titre p {
        position: relative;
        font-size: 1em;
        font-weight: 100;
        margin-top: 0.6em;
        margin-left: 1.4em;
        margin-bottom: 0;
    }

    .histoire .titre > p {
        font-size: 1.18em;
    }


    .histoire>p {
        padding-left: 0.8em;
        font-size: 1em;
        margin-top: 2em;
        border-left: 0.15em solid var(--couleur-boutton);
    }
}

@media screen and (max-width: 640px) {

    .retour {
        font-size: 1em;
        margin: 0;
        padding-top: 9em;
        padding-bottom: 1em;
        margin-left: 1.9em;
    }
    
    .histoire h1 {
        font-size: 1.4em;
    }

    .exploration {

        margin-bottom: 2em;
    }

    .exploration p {
        padding-left: 0.8em;
        font-size: 1em;
        border-left: 0.15em solid var(--couleur-boutton);
    }

    .exploration .horizontal {
        flex-basis: 100%;
        max-width: 36em;
    }

    .exploration .vertical {
        flex-basis: 100%;
    }

    .exploration article {
        margin: 1.3em 2em 1.3em 2em;
        padding: 0.7em;
    }
}