/*positionnement*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    position: fixed;
    padding-top: 1em;
    width: 100%;
    z-index: 10;
}


header img {
    width: 5em;
    height: auto;
    margin-left: 5em;
}

header h1 {
    flex-basis: 30%;
    text-align: left;
    flex-grow: 1;
    margin-left: 1em;
}

header nav {
    flex-basis: 40%;
}

header .menu {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-end;
    padding-right: 2em;
    gap: 8em;
}

header .menu>li {
    text-align: right;
    position: relative;
    cursor: pointer;
}

header .menu ul {
    list-style: none;
}

header .search {
    flex-basis: 20%;
    text-align: center;
}

header .search2 {
    padding: 0.65em 1.9em 0.65em 0.65em;
}

header .submit {
    padding: 0.65em;
}

/*style*/

header {
    background-color: black;
    box-shadow: 0px 25px 60px 60px black;
}

header h1 {
    color: white;
    font-weight: bold;
    font-size: 50px;
    font-family: 'Anton', sans-serif;
}

header .menu {
    list-style-type: none;
}

header li a {
    text-decoration: none;
    color: white;
    font-size: 23px;
    font-family: 'Antonio', sans-serif;
}

nav>ul>li>a {
    transition: 0.3s;
}

nav>ul>li>a:hover {
    color: #3B3B3B;
}

header .search2 {
    border-radius: 30px;
    font-style: italic;
}

header .submit {
    border-radius: 30px;
}